# Dépendances
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
dist
build

# Version control
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Tests
coverage
.nyc_output

# Environnement
.env
.env.*
!.env.example

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Documentation
docs
*.md
!README.md

# Autres
.cursorrules
.DS_Store 